<div class="login">
    <div class="login-panel">
		<div class="login-wrapper">
			<div class="login-logo"></div>
			<div class="login-credentials">
          		{{outlet}}
        	</div>
      	</div>
    </div>
</div>
