<div class="tab-menu">
	{{#link-to 'lro.pricingLeasing.utilities.leaseAudit' tagName="div"}}Lease Audit{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.leaseExplorer' tagName="div"}}Lease Explorer{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.daysOnMarket' tagName="div"}}Days on Market Analysis{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.rentVisualizer' tagName="div"}}Rent Visualizer{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.drrcBizCase' tagName="div"}}DRRC Business Case{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.drrcLeaseVelocity' tagName="div"}}DRRC LV Calc{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.unitsOnRent' tagName="div"}}Units on Rent{{/link-to}}
	{{#link-to 'lro.pricingLeasing.utilities.demandOverride' tagName="div"}}Demand Override{{/link-to}}
</div>
