@import "colors";
@import "var";

/* Default Styles */
@panelWidth: 21.875rem;
@graphTilesWidth: 20rem;
@settingsWidth: 14rem;

@logoWidth: 100px;
@mainMenuWidth: 50px;
@filterPanelWidth: 220px;

html {
	box-sizing: border-box;
}

body {
	font-family: @font;
	font-weight: 200;
	font-size: 75%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: white;
	letter-spacing: 1px;
	color: @gray2;
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}


a {
	color: @mediumBlue;
	cursor: pointer;
	font-size: 1em;
}

i, .icon {
	font-size: 2em;
	color: @mediumBlue;
	-webkit-user-select: none;
	cursor: pointer;
	position: relative;
	/*-webkit-transition: color 0.2s, font-size 0.2s;*/
}

input[type="text"] {
	&:focus {
		outline: none;
	}
}

input[type="number"] {
	text-align: right;
	height: 2.5em;
	width: 80px;
	/*font-size: 1.2em;*/
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input {
	border-radius: none;
	height: 2em;
	font-size: 1em;
	margin: 0 auto;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	&.calendar {
		border: none;
		color: @mediumBlue;
		font-size: 1.4em;
		cursor: pointer;
		background: none;
		height: 20px;
		padding: 0px;
		font-weight: 200;
		font-family: "Avenir";
		width: 100px !important;
	}
}

// This class will reset styles.
.reset {
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.page-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @backgroundGray;
}

.loading-wrapper {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-animation: LOADING-BACK-FADE 0.4s;

	.loading-content {
		position: relative;
		display: block;
		width: 300px;
		margin: 0 auto;
		background: @dark;
		padding: 20px;
		font-size: 1.2em;
		color: white;
		border-radius: 3px;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
		top: 33.33%;
		text-align: left;

		-webkit-animation: DIALOGUE-MOVE-IN 0.2s;
		/*// -webkit-transform: translate(0%,-50%);*/

		&.loading {
			width: 160px;
			text-align: center;
			-webkit-animation: LOADING-MOVE-IN 0.4s;
		}

		.ball {
		    background-color: rgba(0,0,0,0);
			border: 5px solid white;
		    opacity: .9;
		    border-top: 5px solid rgba(0,0,0,0);
		    border-left: 5px solid rgba(0,0,0,0);
		    border-radius: 50px;
		    box-shadow: 0 0 8px rgba(230, 249, 255, 0.8);
		    width: 50px;
		    height: 50px;
		    margin: 0 auto;
		    margin-top: 20px;
		    -webkit-animation: spin .8s infinite linear;
		}

		.ball1 {
		    background-color: rgba(0,0,0,0);
			border: 5px solid white;
		    opacity: .9;
		    border-top: 5px solid rgba(0,0,0,0);
		    border-left: 5px solid rgba(0,0,0,0);
		    border-radius: 50px;
			box-shadow: 0 0 8px rgba(230, 249, 255, 0.8);
		    width: 30px;
		    height: 30px;
		    margin: 0 auto;
		    position: relative;
		    top: -50px;
		    -webkit-animation: spinoff .8s infinite linear;
		}

		.spinner {
		  	margin: 20px auto;
		  	width: 70px;
		  	text-align: center;

		  	&>div {
		  		width: 18px;
				height: 18px;
				background-color: #333;
				background-color: white;
				border-radius: 100%;
				display: inline-block;
				-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
				animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		  	}

		  	.bounce1 {
				-webkit-animation-delay: -0.32s;
				animation-delay: -0.32s;
		  	}
		  	.bounce2 {
		  		-webkit-animation-delay: -0.16s;
				animation-delay: -0.16s;
		  	}
		}
	}
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes sk-bouncedelay {
  	0%, 80%, 100% { -webkit-transform: scale(0) }
  	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  	0%, 80%, 100% {
    	-webkit-transform: scale(0);
    	transform: scale(0);
  	}
  	40% {
    	-webkit-transform: scale(1.0);
    	transform: scale(1.0);
  	}
}

/*----------------------------------------------------------------------------------------------------*/
table {
	width: 100%;
	font-size: 1em;
	text-align: center;

	thead {
		tr {
			&.title {
				th {
					border: none;
					text-align: left;
					background-color: @backgroundGray;
					color: @darkBlue;
					padding-top: @dblPadding;
					border-bottom: @stdBorder;
				}
			}
			&.no-bottom-border {
				th {
					border-bottom: none;

					&.bottom-border {
						border-bottom: 2px solid @stdBorderColor;
					}
				}
			}

			&.border-right {
				th {
					border-right: @stdBorder;
				}
			}

			&.icons {
				th {
					padding: @stdPadding;
				}
			}
			&.sortable {
				th {
					cursor: pointer;
				}
			}

			th {
				padding: @stdPadding;
				background: white;
				color: @gray;
				height: 1em;
				border-bottom: 2px solid @stdBorderColor;

				&.number {
					text-align: right;
				}
			}
		}


	}
	tbody {
		font-size: 1em;
		overflow: auto;
		tr {
			background: rgb(245,245,245);

			td {
				padding: 1.5*@stdPadding @stdPadding;
				border-bottom: @stdBorder;
				text-align: center;

				&.number {
					text-align: right;
				}

				&.left {
					text-align: left !important;
				}

				i {
					font-size: 20px !important;
				}

				&.edited {
					background-color: @yellow;
				}
			}

			&:nth-of-type(2n) {
				background: rgb(255,255,255);
			}

			&:hover {
				background: @hoverBlue;
				cursor: pointer;
			}

			&.active {
				background: @mediumBlue;
				color: white;
			}

			&.border-right {
				td {
					border-right: @stdBorder;
				}
			}

			.grouper {
				background: lighten(@grayBlue, 20%);
				text-align: left !important;
				color: white;
				padding: @stdPadding @dblPadding !important;

				td {
					padding: @stdPadding @dblPadding;
				}

				&:hover {
					background: lighten(@grayBlue, 20%);
					cursor: default;
				}
			}

			&.child-row {
				&>td {
					background: @lightBlue;
					color: white;
				}
			}
		}
	}

	&.no-hover {
		tbody {
			tr {
				&:hover {
					background: rgb(245,245,245);
					cursor: default;

					&:nth-of-type(2n) {
						background: rgb(255,255,255);
					}
				}
			}
		}
	}

	&.style-a {
		font-size: 1em;
		thead {
			tr {
				background: rgb(255,255,255);

				td {
					text-align: left;
					border-bottom: @thickBorder;
					padding: @stdPadding;
					&.center {
						text-align: center;
					}
				}
			}
		}
		tbody {
			font-size: 1em;

			tr {
				background: rgb(255,255,255);
				&:hover {
					background: rgb(255,255,255);
					cursor: default;
				}
				td {
					text-align: center;
					&.to {
						padding: 0px;
					}
				}
			}
		}
	}

	&.table-tab-menu {
		thead {
			tr {
				th {
					cursor: pointer;
					font-size: 1.1em;
					&:hover {
						color: @mediumBlue;
					}

					&.active {
						border-bottom: 3px solid @mediumBlue;
						color: @mediumBlue;
					}
				}
			}
		}
	}
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: @headerBarHeight;
	background-color: darken(@darkBlue, 15%);
	box-sizing: border-box;
	color: white;
	border-bottom: @stdBorder;

	.logo {
		display: inline-block;
		position: relative;
		width: 15em;
		height: 100%;
		/*background-color: white;*/
		background-repeat: no-repeat;
		background-position: 1em 50%;
		background-image: url("images/LRO_Logo_Reverse_Horizontal.png");
		background-size: 158px 60px;
	}
}

header {
	position: absolute;
	height: @headerBarHeight;
	left: @headerBarHeight;
	right: 0;
	top: 0;
	background-color: @grayBlue2;
	background-image: url("images/LRO_Logo_Reverse_Horizontal.png");
	background-repeat: no-repeat;
	background-position: 98% 0px;
	background-size: 158px 60px;
}

button {
	padding: 8px @dblPadding;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	font-size: 1.2em;
	font-family: @font;
	text-align: center;
	border: 1px solid @buttonGreen;
	color: white;
	background-color: @buttonGreen;
	margin-left: @stdPadding;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;

	i {
		color: white;
		font-size: 1.3em !important;

	}

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: darken(@buttonGreen, 10%);
		border: 1px solid darken(@buttonGreen, 10%);
	}

	&.disabled {
		background-color: lighten(@buttonGreen, 10%);
		color: lighten(@buttonGreen, 25%);
		border: 1px solid lighten(@buttonGreen, 10%);
		cursor: not-allowed;
		&:hover {
			background-color: lighten(@buttonGreen, 10%);
			border-color: lighten(@buttonGreen, 10%);
		}

		i {
			color: lighten(@buttonGreen, 25%) !important;
		}
	}

	&.width-200 {
		width: 200px;
	}
	&.width-150 {
		width: 150px;
	}

	&.width-100 {
		width: 100px;
	}

	&.with-icon {
		padding-left: 34px;

		i {
			position: absolute;
			left: 10px;
			/*top: 9px;*/
		}

		&.slim {
			padding-left: 34px;
		}
	}

	&.white {
		background: white;
		color: @buttonGreen;

		i {
			color: @buttonGreen;
		}

		&:hover {
			background: @buttonGreen;
			color: white;
			border: 1px solid @buttonGreen;

			i {
				color: white;
			}
		}
	}

	&.red {
		background: @red;
		color: white;
		border: 1px solid @red;
		i {
			color: white;
		}
		&:hover {
			background-color: darken(@red, 10%);
			border: 1px solid darken(@red, 10%);
		}
	}

	&.transparent {
		background: none;
		color: @buttonGreen;

		i {
			color: @buttonGreen;
			line-height: 0.9em !important;
		}

		&:hover {
			background: @buttonGreen;
			color: white;
			border: 1px solid @buttonGreen;

			i {
				color: white;
			}
		}

		&.thick-border {
			border: 2px solid @buttonGreen;
		}
	}

	&.gray-border {
		border: @darkBorder;
	}

	&.login-button {
		margin: 20px 0 10px 0;
		width: 100%;
		text-transform: uppercase;
		background-color: @mediumBlue;
		border: 1px solid @mediumBlue;
		color: white;

		&.disabled {
			background-color: darken(@mediumBlue, 10%);
			color: darken(@mediumBlue, 20%);
			border: 1px solid darken(@mediumBlue, 10%);
			cursor: default;
			&:hover {
				background-color: darken(@mediumBlue, 10%);
				border-color: darken(@mediumBlue, 10%);
			}
		}
	}

	&.round-small {
		height: 32px;
		width: 32px;
		border-radius: 16px;
		padding: 2px;
		font-size: 1.5em;
	}

	&.user-avatar {
		height: 2.5em;
		width: 2.5em;
		border-radius: 2em;
		padding: 2px;
		font-size: 1.5em;
		border: 2px solid @buttonGreen;
		background: none;
		color: @buttonGreen;

		&.small-avatar {
			height: 3em;
			width: 3em;
			border-radius: 1.5em;
			padding: 2px;
			font-size: 1.0em;
		}

		&.no-hover {
			&:hover {
				background: none !important;
				border: 2px solid @buttonGreen !important;
				color: @buttonGreen !important;
				cursor: default !important;
			}
		}

		&:hover {
			background: @buttonGreen;
			color: white;
		}
	}

	&.slim {
		padding: @stdPadding @dblPadding;
	}
}

/* for tables with sticky headers */
section {
	&.table {
		position: relative;
		padding-top: 30px;
		background: white;
		height: 100%;
		box-sizing: border-box;
		&.dbl-head-rows {
			padding-top: 60px;
		}

		.table-container {
			overflow-y: auto;
			height: 100%;
			border: @stdBorder;
			border-left: none;
			box-sizing: border-box;
			background: @backgroundGray;

			table {
				&.sticky-headers {
					border-spacing: 0;
					width:100%;

					thead {
						tr {
							th {
								height: 0;
								line-height: 0;
								padding: 0px;
								/*padding-top: 0;
								padding-bottom: 0;*/
								color: transparent;
								border: none;
								white-space: nowrap;

								div {
									box-sizing: border-box;
									height: 30px;
									position: absolute;
									background: transparent;
									color: @gray;
									padding: @stdPadding;
									text-align: center;
									top: 0;
									line-height: normal;
									border-left: @stdBorder;
									margin: 0px auto;
								}

								&:first-child {
									div {
										border: none;
									}
								}
							}

							&:nth-of-type(2) {
								div {
									top: 30px;
								}
							}
						}
					}

					tbody {
						tr {
							background: rgb(245,245,245);
							color: #000;

							td {
								padding: 1.5*@stdPadding @stdPadding;
								border-bottom: @stdBorder;
								text-align: center;
								&.number {
									text-align: right;
								}
								i {
									font-size: 20px !important;
								}
							}

							&:nth-of-type(2n) {
								background: rgb(255,255,255);
							}

							&:hover {
								background: @hoverBlue;
								cursor: pointer;
							}

							&.active {
								background: @mediumBlue;
								color: white;
							}
						}
					}
				}
			}
		}
	}
}


.my-account {
	position: relative;
	display: inline-block;
	line-height: @headerBarHeight;
	margin-right: @dblPadding;
	z-index: 200;

	.user-menu {
		border: @stdBorder;
		z-index: 300;
		position: absolute;
		top: @headerBarHeight;
		right: @stdPadding / 2;
		background: white;
		display: none;
		box-sizing: border-box;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
       	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

		&.open {
			display: block;
		}

		div {
			display: block;
			position: relative;
			line-height: 1.5em;
			padding: @stdPadding @dblPadding;
			border-bottom: @stdBorder;
			text-align: left;
			color: @mediumBlue;
			min-width: 100px;

			&:hover {
				background: @hoverBlue;
				cursor: pointer;
			}

		}

	}
}

.online-help {
	position: relative;
	display: inline-block;
	line-height: 5em;
	margin-right: @dblPadding;
}

@triangleBorderSize: @headerBarHeight/2;
.triangle {
	width: 0px;
	height: 0px;
	border-top: @triangleBorderSize solid transparent;
	border-bottom: @triangleBorderSize solid transparent;
	border-right: @triangleBorderSize solid transparent;
	border-left: @triangleBorderSize solid transparent;

	&.tri-right {
		border-left: @triangleBorderSize/2 solid @grayBlue;
		display: inline-block;
	}
	&.tri-left {
		border-right: @triangleBorderSize solid @grayBlue;
		display: inline-block;
	}
	&.tri-top {
		border-bottom: @triangleBorderSize solid @grayBlue;
	}
	&.tri-bottom {
		border-top: @triangleBorderSize solid @grayBlue;
	}
}

.login {

	@loginPanelLeft: 40px;
	@loginPanelWidth: 400px;
	@loginWrapWidth: @loginPanelWidth - 98px;

	@logoTop: 100px;
	@logoWidth: 150px;
	@logoHeight: @logoWidth / 2;
	@inputHeight: 3em;
	@inputMargin: 20px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("images/lro_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;

	.login-panel {
		position: relative;
		margin-left: @loginPanelLeft;
		height: 100%;
		width: @loginPanelWidth;
		background: rgba(0,0,0,0.8);
		text-align: center;
		display: block;
		top: 0;
		z-index: 100;

		.login-wrapper {
			left: 50%;
			height: auto;
			margin-left: @loginWrapWidth / -2 ;
			margin-top: @loginPanelWidth / -2;
			position: absolute;
			top: 50%;
			width: @loginWrapWidth;

			.login-logo {
				position: relative;
				display: block;
				margin: 0 auto;
				background-image: url("images/LRO_Logo_Reverse_Horizontal.png");
				background-size: 224px 85px;
				background-repeat: no-repeat;
				width: 224px;
				height: 85px;
			}

			.login-credentials {
				display: block;
				position: relative;
				margin: 0 auto;
				margin-top: @loginPanelLeft;

				.username {
					position: relative;
					display: block;
					margin: @inputMargin 0px;

					input {
						background-image: url("images/user_24.png");
						background-repeat: no-repeat;
						background-position: 8px 10px;
						height: @inputHeight;
						width: 100%;
						padding-left: @loginPanelLeft;
						border: @stdBorder;
						border-radius: 4px;
						font-size: 1.3333em;

					}
				}

				.password {
					position: relative;
					display: block;
					margin: @inputMargin 0px @inputMargin/4 0px;

					input {
						background-image: url("images/key_24.png");
						background-repeat: no-repeat;
						background-position: 8px 10px;
						height: @inputHeight;
						width: 100%;
						padding-left: @loginPanelLeft;
						border: @stdBorder;
						border-radius: 4px;
						font-size: 1.3333em;
					}
				}

				.expired {
					position: relative;
					display: block;
					text-align: left;
					padding-top: 10px;
					padding-bottom: 10px;
					max-width: 100%;

					.input-label {
						font-size: 16px;
						color: white;
						display: block;
						text-align: left;

						&.small {
							font-size: 10px;
							color: darken(white, 15%);
							line-height: 10px;
						}

						&.bottom-margin {
							margin-bottom: 6px;
						}
					}

					input {
						border: @stdBorder;
						display: block;
						width: 100%;
						height: 32px;
						border-radius: 4px;
						font-size: 14px;
					}
				}

				.small-link {
					text-align: right;
					color: @mediumBlue;
					font-size: 12px;
					margin-bottom: @inputMargin/2;
					cursor: pointer;
				}

				.login-header {
					color: white;
					font-size: 16px;
					max-width: 100%;
				}

				.login-message {
					color: @gray5;
					font-size: 14px;
					line-height: 16px;
					max-width: 100%;
					text-align: left;
					margin-top: @inputMargin;
				}

				.error-container {
					color: red;
					max-width: 100%;
					text-align: left;
				}

			}
		}
	}

	.login-banner {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		box-sizing: border-box;
		text-align: left;
		background-color: @buttonGreen;
		border-bottom: 2px solid darken(@buttonGreen, 10%);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
       	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
		z-index: 500;

		.abbreviated {
			position: relative;
			display: block;
			font-size: 1.2em;
			color: white;
			padding: @dblPadding;
			box-sizing: border-box;

			&>span {
				text-decoration: underline;
				font-weight: 800;
				color: @darkBlue1;
				cursor: pointer;
			}
		}

		&.expanded {
			/*height: 22em;*/
		}

		.verbose {
			position: relative;
			font-size: 1.2em;
			color: @gray2;
			margin-top: @dblPadding;
			padding: @dblPadding;
			box-sizing: border-box;
			background-color: lighten(@buttonGreen, 40%);
		}
	}
}

.main-menu {
	@mainMenuWidth: 15em;
	position: absolute;
	top: 0;
	left: 15em;
	width: @mainMenuWidth;
	height: @headerBarHeight;
	border-bottom: @stdBorder;
	background-color: @grayBlue;
	box-sizing: border-box;

	&>i {
		position: absolute;
		color: white;
		font-size: 1.5em;
		top: @headerBarHeight/4;
		left: 9em;
	}

	.hamburger {
		text-align: center;
		margin: @stdPadding auto;
		i {
			font-size: 2.5em;
			color: white;
			line-height: 1.2em;
		}
	}

	.hidden-button {
		position: absolute;
		top: 0;
		width: @mainMenuWidth + 1;
		height: @headerBarHeight;
		z-index: 9999;
		cursor: pointer;
	}

	.menu {
		position: absolute;
		display: none;
		top: @headerBarHeight;
		left: 0;
		z-index: 50;
		min-width: 24em;
		border: @stdBorder;
		border-top: none;
		box-sizing: border-box;
		background-color: darken(@darkBlue, 15%);
		background-color: @grayBlue;
		/*border-top: 1px solid @grayBlue;;*/
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
       	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

       	&>div {
       		position: relative;
       		padding: @dblPadding;
       		font-size: 1em;
       		color: white;
       		cursor: pointer;

       		&:hover {
       			background-color: darken(@grayBlue, 10%);
       		}

       		&.active {
       			background-color: @mediumBlue;

       			&:hover {
       				color: white;
       				i {
	       				color: white;
	       			}
       			}
       		}

       		i {
       			display: inline-block;
       			margin-right: @stdPadding;
       			color: white;
       			font-size: 2em;
       		}

       		name {
       			display: inline-block;
       			font-size: 1.2em;
       		}
       	}

		&.show {
			display: block;
		}
	}

	.right-of-menu {
		position: absolute;
		left: @mainMenuWidth;
	}

	.left-of-menu {
		position: absolute;
		left: 0;
		border-left: @triangleBorderSize/2 solid darken(@darkBlue, 15%);
	}

}

.section-menu {
	position: absolute;
	top: 0;
	height: @headerBarHeight;
	right: 15em;
	left: 15em;
	box-sizing: border-box;
	border-bottom: @stdBorder;
	z-index: 100;

	.title {
		display: inline-block;
		font-size: 1.25em;
		padding: @dblPadding;
		color: white;
		height: 100%;
		box-sizing: border-box;
		width: 120px;
		position: relative;
		left: 1em;

		&.single-line {
			line-height: 4em;
			vertical-align: top;
			padding-top: 0px;
		}
	}

	&>i {
		position: relative;
		left: @dblPadding;
		font-size: 2.0em;
		color: white;
		line-height: 2.5em;
		top: -0.075em;
	}

	.hamburger {
		display: none;
		float: left;
		margin: 1.6em;
		i {
			font-size: 4em;
			color: white;
		}
	}

	.menu {
		display: inline-block;
		/*position: absolute;*/
		vertical-align: top;
		margin-left: 4em;
		box-sizing: border-box;

		&>div {
			display: inline-block;
			position: relative;
			padding: @stdPadding (3*@stdPadding);
			font-size: 1.2em;
			line-height: 3.15em;
			box-sizing: border-box;
			color: white;
			cursor: pointer;
			height: 100%;

			&.active {
				background-color: @mediumBlue;

				&:hover {
       				color: white;
       			}
			}

			&:hover {
				color: @lightBlue;
			}
		}

		&.show {
			display: inline-block;
		}
	}
}

.tab-menu {
	position: relative;
	display: block;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;

	&.tm-1 {
		position: relative;
		display: block;
		height: @headerBarHeight - (3 * @stdPadding);
		border-bottom: 3px solid white;
		text-align: center;
		background-color: @backgroundGray;

		div {
			position: relative;
			display: inline-block;
			padding: @dblPadding (3 * @stdPadding);
			color: @grayBlue;
			font-size: 1em;
			line-height: 1.5em;
			cursor: pointer;
			font-weight: bold;

			&.active {
				color: @mediumBlue;
				border-bottom: 3px solid @mediumBlue;
			}
		}
	}

	&.tm-2 {

	}

	&.tm-3 {
		display: inline-block;

		&>div {
			position: relative;
			display: inline-block;
			padding: 8px @dblPadding;
			color: @grayBlue1;
			font-size: 1.2em;
			cursor: pointer;
			border: @stdBorder;
			background: white;

			&.active {
				color: white;
				background: @mediumBlue;
				border: 1px solid @mediumBlue;

				&:hover {
					color: white
				}
			}

			&:hover {
				color: @mediumBlue;
			}

			&:first-of-type {
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}

			&:last-of-type {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}


		}
	}

	&.tm-4 {
		text-align: left;
		border-bottom: @stdBorder;

		&>div {
			position: relative;
			display: inline-block;
			padding: @stdPadding @dblPadding;
			color: @grayBlue1;
			font-size: 1em;
			cursor: pointer;
			border: @stdBorder;
			border-bottom: 0px;
			background: white;
			text-align: center;
			box-sizing: border-box;

			&.active {
				color: white;
				background: @mediumBlue;
				border: 1px solid @mediumBlue;

				&:hover {
					color: white;
				}
			}

			&:first-of-type {
				border-top-left-radius: 6px;
				/*border-bottom-left-radius: 6px;*/
			}

			&:last-of-type {
				border-top-right-radius: 6px;
				/*border-bottom-right-radius: 6px;*/
			}

			&:hover {
				color: @mediumBlue;
			}
		}
	}

	div {
		position: relative;
		display: inline-block;
		padding: @dblPadding (3 * @stdPadding);
		color: @grayBlue;
		font-size: 1em;
		font-weight: normal;
		line-height: normal;
		cursor: pointer;
		box-sizing: border-box;

		&.active {
			color: @mediumBlue;
			border-bottom: 3px solid @mediumBlue;
		}
	}
}

.module-content {
	position: absolute;
	top: @headerBarHeight;
	bottom: 0;
	left: 0;
	right: 0;
	/*overflow-y: scroll;*/
	font-size: 1em;
}

.new-pricing {
	@utPanelWidth: 20em;

	height: 100%;
	width: 100%;

	.ut-wrapper {
		position: absolute;
		top: @toolbarHeight;
		left: 0;
		bottom: 0;
		width: @utPanelWidth;
		box-sizing: border-box;
		padding: @stdPadding @dblPadding;
		padding: @stdPadding 2*@dblPadding @stdPadding @dblPadding;
		border-right: @stdBorder;
		background: white;
		overflow-y: scroll;

		&>div {
			margin-bottom: @stdPadding;
			display: block;
			/*width: @utPanelWidth - (3 * @dblPadding) - 10;*/
		}
	}

	.table-wrapper {
		position: absolute;
		top: @toolbarHeight;
		bottom: 0;
		right: 0;
		left: @utPanelWidth;
		overflow-y: scroll;
	}
}

.detail-drawer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 3px solid @mediumBlue;
	border-top: 1px solid @mediumBlue;
	border-bottom: 1px solid @mediumBlue;
	background: white;
	box-sizing: border-box;
	z-index: 5;
	overflow: auto;
	@detailDrawerWidth: 30em;

	&.new-pricing-drawer {
		width: @detailDrawerWidth;
	}

	&.renewal-unit-drawer {
		width: @detailDrawerWidth;
	}

	&.bulk-update-drawer {
		@detailDrawerWidth: 60%;
		box-sizing: border-box;
		border: 0px;
		border-top: none;
		background: rgba(0,0,0,0.5);
		z-index: 500;
		position: absolute;
		top: -2 * @headerBarHeight;
		left: 0;
		right: 0;
		bottom: 0;

		.drawer-content {
			width: @detailDrawerWidth;
			position: relative;
			margin: (20px + 2 * @headerBarHeight) auto 20px;
			height: 80%;
			border: 2px solid @lightBlue;
			border-radius: 6px;
			background: white;
			box-sizing: border-box;
			z-index: 5;
			overflow: auto;
		}
	}

	.fixed-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 3.2em;

		.close {
			position: absolute;
			right: 0;
			top: 0;
			width: 3em;
			height: 3em;
			text-align: center;
			i {
				line-height: 2em;
				font-size: 2em;
				color: @mediumBlue;
			}
		}

		.unit-header {
			display: block;
			text-align: left;
			padding: @dblPadding;
			height: 3em;
			box-sizing: border-box;
		}
	}

	.scroll-content {
		position: absolute;
		top: 3.2em;
		left: 0;
		right: 0;
		bottom: 0;
		padding-right: @dblPadding;
		overflow-y: auto;
		overflow-x: hidden;

		&.dbl-padding {
			padding: @dblPadding;
		}

		&.bulk-update-new {
			@footerHeight: 5em;

			.param-wrapper {
				position: absolute;
				top: @dblPadding;
				left: @dblPadding;
				bottom: @footerHeight + @dblPadding;
				width: 46%;
				overflow-y: scroll;
				/*border: @stdBorder;*/


			}
			.divider {
				position: absolute;
				top: @dblPadding;
				left: 50%;
				bottom: @footerHeight + @dblPadding;
				border: 1px solid @stdBorderColor;
				width: 0px;
			}
			.community-wrapper {
				position: absolute;
				top: @dblPadding;
				right: @dblPadding;
				bottom: @footerHeight + @dblPadding;
				width: 46%;

				.select-deselect {
					margin-top: @stdPadding;
					&>div {
						display: inline-block;
					}
				}

			}
			.footer {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: @footerHeight;
				padding: @dblPadding;
				box-sizing: border-box;

				&>div {
					float: right;
				}
				&>button {
					float: right;
				}
			}
		}

		.override-wrapper {
			margin: @dblPadding 0px;
			padding: @stdPadding;
			text-align: center;
			button {
				/*margin: 0px @stdPadding;*/
			}
			&>div {
				&>label {
					vertical-align: top;
					line-height: 2em;
					font-size: 1.25em;
					margin-left: @stdPadding;
					margin-right: @dblPadding;
					/*vertical-align: middle;*/
				}
			}
			&.overriding {
				margin: @dblPadding @stdPadding;
				border: 2px solid @red;

				input[type="number"] {
					width: 80px;
				}
			}
		}

		.data-point-wrapper {
			display: block;
			margin-top: 20px;
			text-align: left;
			@detailDrawerWidth: 340px;

			&>div {
				display: inline-block;
				width: (@detailDrawerWidth / 2) - 4;
				vertical-align: top;
				box-sizing: border-box;

				div {
					display: block;
					padding-left: 10px;
					text-align: left;
					vertical-align: top;

					&.label {
						color: @gray;
						margin-bottom: 4px;
					}

					&.value {
						font-size: 16px;
					}
				}

				&.single {
					width: @detailDrawerWidth - 2;
				}

				&.red-border {
					border: 2px solid @red;
					padding: @stdPadding 0px;
				}

				input[type="number"] {
					width: 60px;
					margin-left: 10px;
				}
			}
		}

		.lease-terms {
			border-top: @stdBorder;
			margin-top: @dblPadding;

			h2 {
				padding: @dblPadding;
				font-weight: 400;
			}

			.move-in {
				padding-left: @dblPadding;
				padding-bottom: @stdPadding;

				input {
					font-family: @font;
					font-size: 12px;
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

.control-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: @toolbarHeight;
	border-bottom: @stdBorder;
	box-sizing: border-box;
	padding: @stdPadding;


	&>div {
		display: inline-block;
	}

	button {
		margin-left: @stdPadding;
	}

	title {
		display: inline-block;
		float: left;
	}

	.filter-button {
		display: none;
	}

	.apply-filters {
		display: none;
	}

	.filter-wrapper {
		display: inline-block;
		position: relative;
		vertical-align: top;

		.filter {
			display: inline-block;
			position: relative;
			margin: (@stdPadding / 2) (2 * @dblPadding);
			vertical-align: top;

			&:first-of-type {
				margin-left: 2 * @dblPadding;
			}

			.label {
				color: @gray;
				font-size: 1em;
				padding-bottom: @stdPadding / 2;
			}

			.selected {
				display: block;
				font-size: 1.5em;
				color: @mediumBlue;
				font-weight: 400;
				cursor: pointer;
			}
		}
	}

	.button-wrapper {
		display: inline-block;
		float: right;
	}
}

.content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;

    &.has-toolbar {
    	top: @toolbarHeight;
    }
}

.posts-wrapper {
	margin: 0px auto;
	width: 80%;
	border: @stdBorder;
	border-top: 0px;
	padding: @dblPadding;
	box-sizing: border-box;
	background-color: white;
	&>div {  /*ember view for feedback-post component*/

		&>div {
			position: relative;
			border-bottom: @stdBorder;
			padding: @dblPadding;

			&.post {
				font-size: 1.2em;
				min-height: 3em;
				&>div {
					display: inline-block;
					vertical-align: top;
				}
				.created-by {
					width: 20%;
					.avatar {
						display: inline-block;
						vertical-align: top;
					}
					.creator {
						display: inline-block;
						margin-left: @stdPadding;
						span {
							padding-top: @stdPadding;
							display: block;
						}
						.date-created{
							font-size: .8em;
							color: @gray3;
						}
					}
				}
				.post-content {
					width: 80%;
					.post-commenting {
						margin-top: @dblPadding;
						color: @gray3;
						font-size: .8em;
						vertical-align: bottom;
					}

					.new-comment {
						textarea {
							width: 100%;
							font-size: 1.0em;
							border: @stdBorder;
							&:focus {
								outline: none;
							}
						}
						.save-comment {
							height: 3em;
							width: 100%;
							padding: @stdPadding;
							&>button {
								float: right;
								margin-left: @dblPadding;
							}
						}
					}

					.comments-wrapper {
						margin-top: @stdPadding;
						&>div {
							font-size: 0.9em;
							padding: @dblPadding;
							box-sizing: border-box;
							border-bottom: @stdBorder;
							&:last-of-type {
								border-bottom: none;
							}
							span {
								display: block;

								&.creator {
									/*font-size: 0.8em;*/
									color: @gray3;
									margin-bottom: @stdPadding;
								}
							}
						}
					}
				}
			}
		}
	}

	.new-post {
		textarea {
			width: 100%;
			font-size: 1.2em;
			border: @stdBorder;
			&:focus {
				outline: none;
			}
		}
		.save-post {
			height: 3em;
			width: 100%;
			padding: @stdPadding;
			&>button {
				float: right;
				margin-left: @dblPadding;
			}
		}
	}
}

.community-select-wrapper {
	display: inline-block;
	vertical-align: top;

	.community-control {
		position: relative;
		display: inline-block;
		cursor: pointer;
		float: left;

		.community-code {
			display: block;
			font-size: 1em;
			padding: 0 @stdPadding;
			margin: (0.5 * @stdPadding) 0px;
			color: @gray;
		}

		.community-name {
			display: block;
			font-size: 1.5em;
			padding-left: 0.6666 * @stdPadding;
			color: @mediumBlue;
			font-weight: 400;
		}
	}

	.community-menu {
		position: absolute;
		top: 3.6em;
		left: @stdPadding;
		max-height: 300px;
		width: 300px;
		background: white;
		z-index: 10;
		border: @darkBorder;
		display: none;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
		box-shadow: 0 5px 10px rgba(0,0,0,.3);

		&.open {
			display: block;
		}

		.list-wrapper {
			display: block;
			position: relative;
			max-height: 264px;
			overflow-y: scroll;

			&>div {
				padding: @stdPadding;
				border-top: @stdBorder;
				color: @gray;

				&:hover {
					color: @mediumBlue;
					cursor: pointer;
				}

				.c-code {
					font-size: 1em;
					display: block;
					margin-bottom: @stdPadding;
				}
				.c-name {
					font-size: 1.2em;
					display: block;
				}
			}
		}
	}
}

.search-wrapper {
	display: inline-block;
	vertical-align: top;
	position: relative;

	.search-control {
		width: 220px;

		input {
			height: 2.25em;
			width: 220px;
			font-size: 1.3333em;
			border-radius: 4px;
			border: 1px solid darken(@stdBorderColor, 10%);
			padding-left: 4px;

			&:focus {
				outline: none;
			}
		}

		&.full-width {
			width: 100%;
			input {
				width: 98%;
			}
		}

		&.borderless {
			input {
				border: none;
			}
		}
	}
}

.catalog {
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border-right: @thickBorder;
	background: white;

	.catalog-search {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 3.2em;
		border-bottom: @stdBorder;
		box-sizing: border-box;

		input {
			border: none;
			border-radius: none;
			height: 2em;
			width: 100%;
			font-size: 1.4em;
			line-height: 2.1em;
			padding: 0.25em;
			margin: 0 auto;

			&:focus {
				outline: none;
			}
		}
	}

	.catalog-add {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: @headerBarHeight * 1.1;
		box-sizing: border-box;
		padding: @dblPadding;
		text-align: center;

		&.taller {
			height: @headerBarHeight * 3;
		}

		.button-wrapper {
			margin: @stdPadding auto;
			text-align: center;

			&>button {
				display: inline-block;
				margin: 0 @stdPadding;
			}
		}
	}

	.catalog-scroll {
		position: absolute;
		top: 3.2em;
		left: 0;
		right: 0;
		bottom: @headerBarHeight * 1.1;
		box-sizing: border-box;
		border-bottom: @stdBorder;
		overflow-y: scroll;

		&.shorter {
			bottom: @headerBarHeight * 3;
		}

		&.no-add {
			bottom: 0;
		}

		&>div {
			padding: @stdPadding;
			box-sizing: border-box;
			height: 4em;
			border-bottom: @stdBorder;
			cursor: pointer;
			font-size: 1.5em;

			&:hover {
				background: @hoverBlue;
			}

			&.active {
				background: @mediumBlue;
				color: white;
			}
		}
	}
}

.item-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	background: @backgroundGray;

	&>section {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: @dblPadding;
		border: @stdBorder;
		background: white;
		border-radius: 4px;
		box-sizing: border-box;
		padding: @dblPadding;
		/*min-height: 17em;*/

		&.community, &.user {
			.fixed-header {
				margin-bottom: @dblPadding;
			}

			.scroll-content {
				position: absolute;
				top: 7.25em;
				bottom: 5em;
				left: @dblPadding;
				right: @dblPadding;
				overflow-y: auto;
			}

			.fixed-footer {
				position: absolute;
				bottom: @dblPadding;
				left: @dblPadding;
				right: @dblPadding;
				&>button {
					margin-left: @dblPadding;
				}
			}
		}
	}

	.header {
		display: block;
		position: relative;
		min-height: 3em;
	}


	.kpi-wrapper {
		display: block;
		position: relative;
		min-height: 9em;
		text-align: center;

		&>div {
			display: inline-block;
			border: @stdBorder;
			width: 12em;
			height: 8em;
			margin-right: @dblPadding;
			margin-bottom: @dblPadding;
			vertical-align: top;
			text-align: center;
			padding: @stdPadding;

			&:last-of-type {
				margin-right: 0px;
			}

			.title {
				font-size: 1em;
			}

			.primary-kpi {
				margin-top: @dblPadding;

				.kpi {
					font-size: 2.2em;
				}

				.delta {
					margin-top: @stdPadding;
					font-size: 1.2em;
				}
			}

		}
	}
}

.two-col {
	box-sizing: border-box;

	&>div {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width: 50%;
		padding-right: 2 * @dblPadding;
		vertical-align: top;
		height: 100%;

		&>p {
			margin-bottom: @dblPadding;
			.label {
				display: inline-block;
				float: left;
				width: 200px;
				line-height: 2em;
			}
			input {
				/*border-radius: 4px;*/
				height: 2.2em;
				width: 260px;
				font-size: 1em;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.community-select {
	position: absolute;
	top: @headerBarHeight;
	bottom: 0;
	left: 0;
	right: 0;

	.community-list-wrapper {
		position: relative;
		border: @stdBorder;
		border-radius: 6px;
		background-color: white;
		width: 40%;
		height: 80%;
		margin: 0px auto;
		margin-top: 3 * @dblPadding;
		overflow-y: auto;
		font-size: 1.2em;

		&>section {
			box-sizing: border-box;
			left: 0;
			right: 0;
		}

		.search {
			position: absolute;
			top: 0;
			height: 40px;
			border-bottom: @stdBorder;
			padding: @stdPadding @dblPadding;

			input {
				border: none;
				width: 100%;
			}
		}

		.list {
			position: absolute;
			top: 40px;
			bottom: 0;
			overflow-y: scroll;

			table {
				th {
					color: @gray3;
				}
				td {
					color: @gray2;
				}
			}
			&>div {
				padding: @dblPadding;
				border-bottom: @stdBorder;
				cursor: pointer;

				&:hover {
					background: @hoverBlue;
					color: black;
				}
			}
		}
	}
}

.metric-box {
	border: @stdBorder;
	margin: @stdPadding @dblPadding @stdPadding 0;
	padding: @stdPadding;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	position: relative;

	&.active {
		color: white;
		background: @mediumBlue;
	}

	&.available {
		height: 10em;
		cursor: pointer;
	}

	&.wide {
		width: 200px;
	}

	&.x-wide {
		width: 250px;
	}

	&.xx-wide {
		width: 350px;
	}

	.title {
		display: block;
		font-size: 1.2em;
		margin-bottom: @stdPadding;
	}

	.metric {
		font-size: 2.5em;
		font-weight: 400;
		margin-bottom: 0.25 * @stdPadding;
	}

	.label {
		font-size: 1em;
		margin-bottom: @dblPadding;
	}

	.sub-metric {
		font-size: 1.5em;
		margin-top: @stdPadding;
		margin-bottom: @stdPadding;
	}

	.delta {
		font-size: 14px;
		margin-bottom: @stdPadding;
	}

	.na {
		font-size: 16px;
		font-style: italic;
		padding: @dblPadding;
	}

	div:last-of-type {
		margin-bottom: @dblPadding;
	}
}

.dd-menu {
	.menu-control {
		position: relative;
		display: inline-block;
		cursor: pointer;
		float: left;

		.label {
			display: block;
			font-size: 1.2em;
			color: @gray;
		}

		.selected {
			display: block;
			font-size: 1.3333em;
			color: @mediumBlue;
			font-weight: 400;
		}
	}
	.menu {
		position: absolute;
		top: 3em;
		max-height: 300px;
		width: 300px;
		background: white;
		z-index: 10;
		border: @darkBorder;
		display: none;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
		box-shadow: 0 5px 10px rgba(0,0,0,.3);

		&.open {
			display: block;
		}

		.list-wrapper {
			display: block;
			position: relative;
			max-height: 264px;
			overflow-y: scroll;

			&>div {
				padding: @stdPadding;
				color: @gray;
			}
		}
	}
}

.ios-toggle {
	@size: 46px;
	display: block;
	position: relative;
	padding: 0 @stdPadding 0 @dblPadding;
	margin-top: @dblPadding;
	height: @size / 2;
	font-size: 1em;

	.toggle-label {
		display: inline-block;
		color: @gray;
		margin-bottom: 4px;
		line-height: @size / 2;
		font-size: 14px;
	}

	.toggle {
		float: right;
		padding: @stdPadding;
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		width: @size;
		height: @size / 2;
		-webkit-user-select: none;
		cursor: pointer;

		/*&.left {
			float: left;
		}*/

		.background {
			width: 100%;
			height: 100%;
			background: @gray6;
			position: absolute;
			left: 0;
			top: 0;
			box-sizing: border-box;
			border-radius: @size / 2;
			border: @stdBorder;
		}

		.pill {
			width: (@size - 10) / 2;
			height: (@size - 10) / 2;
			position: absolute;
			top: 2px;
			left: 2px;
			background: white;
			box-sizing: border-box;
			border-radius: @size / 2;
			-webkit-transition: 0.3s;
			box-shadow: 2px 1px 2px rgba(0,0,0,0.2);
		}

		&.switched {
			.background {
				background: @anotherGreen;
				border: @stdBorder;
			}

			.pill {
				-webkit-transform: translateX((@size + 0.12) / 2 );
				box-shadow: -2px 1px 2px rgba(0,0,0,0.2);
			}
		}
	}

	&.block {
		height: 0.75 * @size;

		.toggle-label {
			display: block;
			float: none;
			line-height: inherit;
		}
		.toggle {
			display: block;
			float: none;
		}
	}

	&.toggle-only {
		padding: 0;
		margin: 0;
		height: @size / 2;
		text-align: center;
		.toggle {
			display: block;
			float: none;
			/*margin: 0 auto;*/
		}
	}
}

.date-picker {
	position: relative;
	font-size: 1em;
	@squareSize: 36px;
	padding: 0px !important;

	.active-state {
		cursor: pointer;
		-webkit-user-select: none;
		/*padding-left: @dblPadding;*/

		i {
			color: @mediumBlue;
			margin-right: 0.1em;
			line-height: 24px;
		}
		.cur-date {
			vertical-align: top;
			font-size: 16px;
			color: @mediumBlue;
			font-weight: 400;
		}
	}

	.cal-wrapper {
		display: none;
		position: absolute;
		background: darken(@darkBlue, 15%);
		color: white;
		padding: 0.4em;
		border-radius: 3px;
		z-index: 100;
		top: 20px;
		/*margin-left: @dblPadding;*/
		-webkit-animation-name: bounce-in;
		-webkit-animation-duration: 0.2s;

		.month {
			text-align: center;
			font-size: 1.1em;
			font-weight: 400;
			margin-bottom: 0.8em;
			margin-top: 0.4em;
			color: white;
			display: block;
		}

		ul.week {
			position: relative;
			width: @squareSize * 7;
			height: @squareSize;
			white-space: nowrap;

			li {
				text-align: center;
				width: @squareSize;
				height: @squareSize;
				float: left;
			}
		}

		.header {
			margin-bottom: 0.4em;
			position: relative;
			ul.week {
				height: 1em;
				li {
					height: 1em;
					color: rgb(150,150,150);
					span {
						font-size: 0.7em;
					}
				}
			}

			.arrow {
				width: 14px;
				position: absolute;
				top: 0;
				font-size: 18px;
				cursor: pointer;

				&.left {
					left: 0;
				}

				&.right {
					right: 0;
				}
			}
		}

		.week-content {
			background: white;
			color: rgb(100,100,100);
			height: @squareSize * 6;
			width: @squareSize * 7;
			overflow: hidden;
			position: relative;

			.scroll-content {
				height: 100%;
				width: 100%;
				overflow: auto;
				overflow-x: hidden;
				overflow-y: auto;
				top: 0;
				padding: 0;

				&::-webkit-scrollbar {
					-webkit-appearance: none;
					border-left: @stdBorder;
					display: none;
 					width: 0px;
 				}
			}

			.infinite-scroll {
				position: relative;
				overflow: hidden;
				display: block;
			}

			ul.week {
				border-bottom: @stdBorder;
				position: absolute;
				top: 0;
				left: 0;
				-webkit-box-sizing: border-box;

				li {
					cursor: pointer;
					-webkit-box-sizing: border-box;
					line-height: @squareSize;
					height: 100%;
					border-right: @stdBorder;
					-webkit-transition: background 0.2s, color 0.2s;

					span {
						font-size: 0.9em;
					}

					&:last-of-type {
						border-right: none;
					}

					&.not-current {
						background: lighten(@stdBorderColor, 0%);
						background: rgb(240,240,240);
						color: darken(@stdBorderColor, 25%);
					}

					&:hover:not(.disabled) {
						background: @hoverBlue;
					}

					&.selected {
						color: white;
						font-weight: 400;
						background: @mediumBlue;
					}

					&.disabled {
						background: lighten(@stdBorderColor, 0%);
						color: lighten(@stdBorderColor, 0%);
						cursor: default;
					}
				}
			}
		}
	}

	&.show-hud .cal-wrapper {
		display: block;
	}
}

.renewal-mgmt {
	@rbButtonWrapWidth: 144px;
	@rbSettingsHeight: 20px;
	@kpiPanelWidth: 220px;
	@rbMetricTableHeight: 96px;
	@detailDrawerWidth: 60%;
	@footerHeight: 58px;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: @backgroundGray;

	.overlay {
		top: -1 * @headerBarHeight;
	}

	.renewal-batches {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		.control-wrapper {
			line-height: @toolbarHeight - @dblPadding;
		}

		.batches {
			    position: absolute;
			    top: @toolbarHeight;
			    bottom: 0;
			    right: 0;
			    left: 0;
			    overflow-y: auto;
		}
	}

	.new-batch {
	}

	.batch, .batch-settings {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		.batch-content, .settings-content {
			position: absolute;
			top: @toolbarHeight;
			bottom: 0;
			left: 0;
			right: 0;
			overflow-y: auto;
			/*border-top: @stdBorder;*/
			padding-top: @dblPadding;
			box-sizing: border-box;

			.settings-wrapper {
				margin: 0px auto;
				width: 80%;
				border: @stdBorder;
				border-top: 0px;
				height: 100%;
				padding: @dblPadding;
				box-sizing: border-box;
				background-color: white;
				&>div {
					position: relative;
					border-bottom: @stdBorder;
					.setting {
						padding: @dblPadding;
						position: relative;
						display: inline-block;
						vertical-align: top;
						width: 80%;
						box-sizing: border-box;
						p {
							padding-top: @stdPadding;
						}
						ul {
							padding-top: @stdPadding;
						}
					}
					.control {
						display: inline-block;
						position: relative;
						padding: @dblPadding;
						margin-left: @dblPadding;
						box-sizing: border-box;
						vertical-align: top;
						text-align: right;
						width: 15%;
					}
				}
			}
		}
	}



	.rb-details {
		position: relative;
		display: block;
		/*height: 600px;*/
		height: 100%;
		box-sizing: border-box;
		/*margin-bottom: 20px;*/
		/*border-bottom: @stdBorder;*/

		.rb-detail-nav {
			position: absolute;
			left: 0;
			right: 0;
			border-bottom: @stdBorder;
			height: 3.5em;
			box-sizing: border-box;

			.rb-detail-tabs {
				position: relative;
				padding-left: 36px;
				height: 100%;
				&>div {
					height: 100%;
					line-height: 2.5em;
				}

				&.filters-open {
					padding-left: @filterPanelWidth;
				}
			}
		}

		.rb-detail-content {
			position: absolute;
			top: 3.5em;
			left: 0;
			right: 0;
			bottom: 0;
			overflow-y: auto;

			.rb-detail-content-wrapper {
				position: relative;
				border-left: @stdBorder;
				overflow: auto;
				vertical-align: top;
				top: 0;
				margin-right: 36px;
				left: 36px;
				height: 100%;

				&.filters-open {
					left: @filterPanelWidth;
					margin-right: @filterPanelWidth;
				}

				.rb-summary {
					position: absolute;
					display: block;
					box-sizing: border-box;
					background: white;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
	}

	.rb-lease-terms {
		margin-bottom: 2 * @dblPadding;

		.ltc {
			display: inline-block;
			vertical-align: top;
			margin-top: @stdPadding;
			margin-right: 2* @dblPadding;

			&>div {
				margin-left: @dblPadding;
				vertical-align: top;

				&:first-child {
					margin-left: 0px;
					font-weight: bold;
				}

				span {
					vertical-align: top;
					line-height: 2.2em;
				}
			}
		}
	}

	.rb-params {
		section {
			margin-bottom: 2 * @dblPadding;
		}
	}

	.rb-metrics-table {
		width: 100%;
		height: @rbMetricTableHeight;
		tr {
			background: white;
			&:nth-of-type(2n) {
				background: white !important;
			}
			td {
				border: 0px;
				border-right: @stdBorder;
				padding: @stdPadding;

				.rb-metric-title {
					display: block;
					font-size: 12px;
					margin-bottom: @dblPadding;
				}

				.rb-metric {
					font-size: 16px;
					font-weight: 400;
					margin-bottom: @stdPadding;
				}

				&.rb-button-wrapper {
					border: 0px;
					width: @rbButtonWrapWidth;

					&>div {
						display: block;
						width: @rbButtonWrapWidth - (2 * @dblPadding);
						margin: @stdPadding auto;
					}
				}
				&.rb-unit-type-header {
					padding: 0px;
				}
			}

			&.no-border {
				td {
					border: none;
				}
			}
		}

		&.batch-version {
			color: white;
			height: @rbMetricTableHeight / 2;

			tr {
				background: none !important;
				&:nth-of-type(2n) {
					background: none !important;
				}
			}
			&.no-hover {
				tr {
					&:hover {
						background: none !important;
					}
				}
			}
		}

		&.unit-type-version {
			height: @rbMetricTableHeight / 2;
		}

		&.no-hover {
			tbody {
				tr {
					&:hover {
						background: white !important;
						cursor: default;

						&:nth-of-type(2n) {
							background: white !important;
						}
					}
				}
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 500;

	@olHeaderHeight: 40px;
	@olFooterHeight: 60px;


	.overlay-content {
		width: 800px;
		position: relative;
		margin: @headerBarHeight+1 auto;
		height: 80%;
		border: @darkThickBorder;
		border-radius: 6px;
		background: white;
		box-sizing: border-box;
		z-index: 5;
		overflow: auto;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
		box-shadow: 0 5px 10px rgba(0,0,0,.3);

		header {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: @olHeaderHeight;
			padding: @dblPadding;
			box-sizing: border-box;
			background: none;

			.title {
				display: block;
				text-align: left;
				padding: @dblPadding;
			}

			.close {
				position: absolute;
				right: 0;
				top: 0;
				width: 32px;
				height: 32px;
				text-align: center;
				i {
					line-height: 32px;
					font-size: 22px;
				}
			}
		}

		.scroll-content {
			position: absolute;
			top: @olHeaderHeight;
			left: 0;
			right: 0;
			bottom: @olFooterHeight;
			overflow-y: auto;
			padding: @dblPadding;
			box-sizing: border-box;

			.left-column {
				position: absolute;
				top: @dblPadding;
				left: @dblPadding;
				bottom: @dblPadding;
				width: 46%;
				overflow-y: scroll;
			}

			.vertical-divider {
				position: absolute;
				top: @dblPadding;
				left: 50%;
				bottom: @dblPadding;
				border: @stdBorder;
				width: 0px;
			}

			.right-column {
				position: absolute;
				top: @dblPadding;
				right: @dblPadding;
				bottom: @dblPadding;
				width: 46%;
			}

			.single-column {
				top: @dblPadding;
				left: @dblPadding;
				bottom: @dblPadding;
				overflow-y: auto;
				box-sizing: border-box;
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: @olFooterHeight;
			padding: @dblPadding;
			box-sizing: border-box;

			&>button {
				float: right;
				margin-left: @dblPadding;
			}
		}
	}
}

.input-control {
	display: block;
	margin-bottom: @dblPadding;

	.label {
		height: 24px;
		&.inline {
			width: 160px;
			height: 24px;
			line-height: 24px;
			vertical-align: top;
		}
	}

	.control {
		line-height: 24px;
		width: 100%;
		&>div {
			display: block;
		}
		.dd-list-selected {
			color: @mediumBlue;
			margin-bottom: 0.5*@stdPadding;
			font-size: 1.2em;
			cursor: pointer;
		}
		.dd-list {
			display: none;
			position: absolute;
			z-index: 1000;
			background: white;
			border: @darkBorder;
			-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
			overflow-y: scroll;
			max-height: 300px;
			min-width: 100px;

			&.show {
				display: block;
			}

			&>div {
				background: white;
				padding: @stdPadding;
				border-top: @stdBorder;
				color: @gray3;
				cursor: pointer;

				&:hover {
					color: @mediumBlue;
				}

				&.selected {
					background: @mediumBlue;
					color: white;

					&:hover {
						color: white;
					}
				}
			}
		}

		input {
			width: 60%;
		}
	}
}

.sa-button-container {
	button {
		&:hover {
			border: none;
		}
	}
}

.sa-confirm-button-container {
	button {
		&:hover {
			border: none;
		}
	}
}

.filter-panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-right: @stdBorder;
	box-sizing: border-box;
	background: none;
	/*padding: @stdPadding;*/
	z-index: 2;

	&.open {
		width: @filterPanelWidth;
	}

	&.closed {
		width: 36px;
	}

	.filter-header {
		position: relative;
		display: block;
		height: 32px;
		border-bottom: @stdBorder;
		line-height: 32px;
		color: @mediumBlue;
		vertical-align: top;
		padding-left: 8px;
		background: white;

		i {
			font-size: 22px;
			line-height: 32px;
		}

		.close {
			position: absolute;
			right: 0;
			top: 0;
			width: 32px;
			height: 32px;
			cursor: pointer;
			font-size: 18px;
			text-align: center;
		}
	}

	.filter-content {
		position: absolute;
		display: block;
		background: white;
		overflow-y: auto;
		top: 33px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: @dblPadding;

		.filter {
			display: block;
			margin-top: 16px;
			text-align: left;
			box-sizing: border-box;

			&>div {
				/*display: inline-block;*/
				/*width: @filterPanelWidth - 1;*/

				div {
					/*display: block;*/

					&.label {
						color: @gray; /*darken(@gray, 30%);*/
						margin-bottom: 4px;
						font-size: 14px;
						/*padding-left: @dblPadding;*/
						text-align: left;
					}

					&.value {
						font-size: 16px;
						color: @mediumBlue;
						cursor: pointer;
						/*padding-left: @dblPadding;*/
						text-align: left;
					}
				}
			}
		}
	}
}

.col {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	padding: @stdPadding;

	&.col-10 {
		width: 10%;
	}
	&.col-15 {
		width: 15%;
	}
	&.col-20 {
		width: 20%;
	}
	&.col-25 {
		width: 25%;
	}
	&.col-30 {
		width: 30%;
	}
	&.col-33 {
		width: 33%;
	}
	&.col-40 {
		width: 40%;
	}
	&.col-50 {
		width: 50%;
	}
	&.col-60 {
		width: 60%;
	}
	&.col-66 {
		width: 66%;
	}
}

.filter-tag {
	display: inline-block;
	padding: @stdPadding;
	margin-left: 2*@dblPadding;
	/*margin-top: @stdPadding;*/
	border-radius: 6px;
	background: @grayBlue;
	color: white;
	i {
		margin-left: @stdPadding;
		color: white !important;
	}
}

.select-deselect-all {
	margin: @stdPadding 0;
	&>div {
		display: inline-block;
		color: @mediumBlue;
		cursor: pointer;

		&:last-child {
			&:after {
				content: "";
				padding: 0px;
			}
		}

		&:after {
			padding: 0 @stdPadding;
			content: "|";
			color: @gray2;
			cursor: default;
			font-size: 1.2em;
		}
	}
}

.select2-container {
	width: 100% ;
	input {
		width: 100% ;
	}
}

