<section class="users">
	<section class="user-nav">
		<div class="tab-menu tm-3 square-corners">
			{{#link-to "lro.admin.users.people" tagName="div"}}Users{{/link-to}}
			{{#link-to "lro.admin.users.roles" tagName="div"}}Roles{{/link-to}}
			{{#link-to "lro.admin.users.groups" tagName="div"}}Groups{{/link-to}}
		</div>
	</section>
	{{outlet}}
</section>

