<div class="login-header">Password reset email sent!</div>
<div class="login-message">
	We have sent an email to <b>jtrkovsky@letitrain.com</b> with a password reset link.  Check your Inbox and your Spam folder and wait 5-10 minutes before trying again.
<br><br>
    If you already resent it and still have not received it, email <a href="mailto:support@letitrain.com?subject=Rainmaker%20Password%20Reset">LRO Support</a> and let us know.
</div>
